<div class="container"> 
    <div class="search"> 
        <div class="row"> 
            <div class="col-md-12"> 
                <div>
                     <div class="search-2">
                          <i class='bx bxs-map' ></i>
                           <input type="text" placeholder="Introduce el nombre a buscar" [(ngModel)]="textName">
                            <button (click)="searchName()">Search</button> 
                        </div>
                     </div>
                     </div>
                     </div>
                     </div>
</div>
